// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body{
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 700;
}

// Media Print
.onlyprint{
	display: none;
}
.table-single-santri{
	vertical-align: top !important;
	tr td{
		vertical-align: top;
	}
}